footer {
  height: 80px;
  background-color: #262626;
}

.logo-f {
  width: auto;
  height: 45px;
  display: block;
  background: url('../../assets/images/f-logo.png') no-repeat center center;
  background-size: contain;
}

.logo-t {
  width: auto;
  height: 45px;
  display: block;
  background: url('../../assets/images/t-logo.png') no-repeat center center;
  background-size: contain;
}

.logo-i {
  width: 45px;
  height: 45px;
  display: block;
  background: url('../../assets/images/insta-white.png') no-repeat center center;
  background-size: 75%;
  background-color: #d93175;
}

.logo-yt {
  width: auto;
  height: 45px;
  display: block;
  background: url('../../assets/images/yt-logo.png') no-repeat center center;
  background-size: 60%;
}
