<footer class="container-fluid">
<div class="row pt-4 ">

    <div class="col-4 col-sm-3 col-md-2 d-flex justify-content-center">
      <a href="https://www.facebook.com" class="logo-f"></a>
    </div>
    <div class="col-4 col-sm-3 col-md-2 d-flex justify-content-center">
      <a href="https://www.twitter.com" class="logo-t"></a>
    </div>
    <div  class="col-4 col-sm-3 col-md-2 d-flex justify-content-center">
      <a href="https://www.instagram.com" class="logo-i"></a>
    </div>
    <div class="col-12 col-sm-3 col-md-3 col-lg-2 pt-3 pt-sm-0">
      <a href="https://www.youtube.com" class="logo-yt"></a>
    </div>
    <div class="col-12 col-md-3 pl-sm-5 d-flex justify-content-center pt-3 pt-md-0 pt-lg-1">
      <u class="text-white">Espace Administrateur&nbsp;&#10132;</u>
    </div>
</div>

</footer>

