.products {
  transform: translateY(-30px);
}
/**************************css Galerie***********************/
img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  width: auto;
  height: auto;
  padding: 20px;
}

.images {
  min-width: 150px;
  max-height: 250px;
}
.container{
  transform: translateY(-500px);
  max-width: 1200px !important;
  margin-right: 0rem !important;
}
.card a {
  font-size: 1rem;
  margin: 3rem;

}
.card  {
 height : 95%;
 max-width: 100% !important;

}
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
   .container{
    margin-left: 8rem !important;

   }
   .row{
     width: 75% !important;
   }

}
@media only screen and (max-width: 767px){
  .images {
    min-width: 100px;
    max-height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  img {
    max-height: 100%;
    max-width: 80%;
  }
}

/************************ css sidenav************ */
.sidebar {
  height: 80vh;
  width: 270px;
  position: sticky;
  z-index: 1;
  top: 120px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  overflow-y: scroll;
}

legend {
  font-size: 1.2rem;
}

.navbar-nav {
  height: 70vh;
}

/* Survol souris changement de couleur */
.sidebar option:hover {
  color: #000000;
}


a {
  font-size: 1.3rem;
  margin-left: 30%;
  color: #059e05;
}

#boutonfiltre,
#boutonfiltre2 {
  /* transform: translateX(40px) !important; */
  /* position: sticky; */
  width: 8em;
  height: 2rem;
  border: none;
  top: 22px;
  padding: 10px 20 10px 20;
  border-radius: 8px;
  font: bold 13px Arial;
  background-color: #059e05;
  color: white;
}

.trans {
  transform: translateX(0px) !important;
  transition: transform 0.6s ease-in-out !important;
}

.hidden {
  transform: translateX(-335px);
  transition: transform 0.6s ease-in-out;
}

.transBtn {
  z-index: 1000;
  transform: translateX(60px) !important;
  transition: transform 0.6s ease-in-out;
}

.btnStartPos {
  transform: translateX(-15px);
  transition: transform 0.6s ease-in-out;
}


/* Customize the label (the container) */
.container-radio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 7px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked~.checkmark {
  background-color: #28a745;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 2px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.radio-wrapper {
  width: 180px;
}

/* select {
  background-color: #28a745;
  border-color: #28a745
} */


div.navbar-nav {
  max-height: 300px;
}


button {
  padding: 3px;
  width: 170px;
  word-wrap: break-word;
  white-space: normal;
  color: #6c757d;
  border-color: #6c757d;
}
