<!--My modal-->
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{productModal.name}}</h4>
            <button type="button" class="close"  (click)="modalInput.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <h5>Caractéristiques du produit</h5>
            <table>
            <tr>
              <td><strong>Quantité :</strong></td>
              <td class="indice">{{productModal.quantity}}</td>
            </tr>
            <tr>
              <td><strong>Marques :</strong></td>
              <td class="indice">{{productModal.brands}}</td>
            </tr>
            <tr>
              <td><strong>Conditionnement :</strong></td>
              <td class="indice"> {{ productModal.packaging.join(', ')}}</td>
            </tr>
            <tr>
              <td><strong>Catégories :</strong></td>
              <td class="indice"> {{ productModal.categories.join(', ')}}</td>
            </tr>
            <tr>
              <td><strong>Labels, certifications, récompenses :</strong></td>
              <td class="indice"> {{productModal.labels.join(', ')}}</td>
            </tr>
            </table>
          <h5>Ingrédients</h5>
              <p>Liste des ingrédients : {{productModal.ingredients}}</p>
              <p>Produits provoquant des allergies ou intolérances :<span> {{productModal.allergens}} </span></p>
          <h5>Informations nutritionnelles</h5>
          <table>
            <td>
              <tr>
                <td><strong>NutriScore :</strong></td>
                <td class="indice">{{productModal.nutriscore}}</td>
            </tr>
            <tr>
              <td><strong>Matières grasses / Lipides :</strong></td>
              <td class="indice">{{productModal.nutrients.lipids}}</td>
            </tr>
            <tr>
              <td><strong>Acides gras saturés :</strong></td>
              <td class="indice">{{productModal.nutrients.saturated}}</td>
            </tr>
            <tr>
              <td><strong>Sucres :</strong></td>
              <td class="indice">{{productModal.nutrients.sugars}}</td>
            </tr>
            <tr>
              <td><strong>Sel :</strong></td>
              <td class="indice">{{productModal.nutrients.salt}}</td>
            </tr>
            </table>
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-info" routerLink="/contact" routerLinkActive="active" >Signaler</button>
              <button type="button" class="btn btn-danger" (click)="modalInput.close()">Close</button>
        </div>
    </div>
