<!--My modal-->
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{productModal.name}}</h4>
            <button type="button" class="close"  (click)="modalInput.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <h5>Caractéristiques du produit</h5>
              <p>Quantité: {{productModal.quantity}}</p>
              <p>Marques : {{productModal.brands}}</p>
              <p>Conditionnement: {{ productModal.packaging}}</p>
              <p>Catégories : {{ productModal.categories}}</p>
              <p>Labels, certifications, récompenses : {{productModal.labels}}</p>
          <h5>Ingrédients</h5>
              <p>Liste des ingrédients : {{productModal.ingredients}}</p>
              <p>produits provoquant des allergies ou intolérances : {{productModal.allergens}}</p>
          <h5>Informations nutritionnelles</h5>
              <p>NutriScore : {{productModal.nutriscore}} </p>
              <p>Matières grasses / Lipides : {{productModal.nutrients.lipids}}</p>
              <p>Acides gras saturés : {{productModal.nutrients.aturated}}</p>
              <p>Sucres : {{productModal.nutrients.sugars}}</p>
              <p>Sel : {{productModal.nutrients.salt}}</p>
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="modalInput.close()">Close</button>
        </div>
    </div>
