<div class="carousel-wrapper container" *ngIf="visible">
  <ngb-carousel #carousel="ngbCarousel">
    <ng-template ngbSlide>
      <img alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="container-fluid d-flex justify-content-center">
  <button class="btn btn-dark" (click)="show()">Afficher/Masquer le carrousel</button>
</div>
