<div class="carousel-wrapper d-none d-lg-block" *ngIf="visible">
  <ngb-carousel #carousel="ngbCarousel" [showNavigationIndicators]=false>
    <ng-template d-bock w-100 ngbSlide *ngFor="let product of carrousel">
      <div class="image-replacement"></div>

      <div class="container-fluid inner-container">
        <div class="row">

          <div class="col-6 text-center">
            <img src="{{carrousel.images}}" alt="product image">
          </div>

          <div class="col-6 pt-4 pl-5">
            <div class="caption">{{carrousel.name}}</div>
            <button class="mt-4 btn btn-light" (click)="displayProduct(product.name)">Détail produit</button>
          </div>

        </div>
      </div>

    </ng-template>
  </ngb-carousel>
</div>
<div class="d-none d-lg-flex justify-content-end">
  <button class="btn btn-dark btn-sm" (click)="show()">Afficher/Masquer promotions</button>
</div>
