.carousel-wrapper {
  background: url('../../assets/images/carrousel-bg.jpg') no-repeat top;
  /* pour anciens Chrome et Safari */
  -webkit-background-size: cover;
          background-size: cover;
  height: 450px;
  margin: 0 auto;
  position: relative;
}

.image-replacement {
  width:100%;
  height:450px;
  min-width:100%;
  min-height:450px;
  max-width:100%;
  max-height:450px;
  overflow:hidden;
  display:block;
}

.inner-container {
  position: absolute;
  bottom: 10px;
}

[class*=col-] {
  height: 230px;
}

img {
  max-height: 200px;
  max-width: 85%;
  width: auto;
  height: auto;
}

.caption {
  padding-top: 1rem;
  font-size: 2.5rem;
}

.btn-dark {
  width: 225px;
  z-index: 50;
}
