<app-navbar></app-navbar>
<div class="container-fluid">

  <div class="wrapper">
    <h1>Nous contacter</h1>

    <form class="form-group">

      <form class="form-element form-input">
        <input class="form-element-field" [(ngModel)]="message.name" name="name" placeholder="Saisissez votre nom" type="name"
          required />
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="name">Nom</label>
      </form>

      <form class="form-element form-input">
        <input list="requete" class="form-element-field" [(ngModel)]="message.objet" name="objet" placeholder="Objet de votre demande"
          type="name" required />
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="objet">Objet</label>
        <datalist id="requete">
          <option>Signaler un produit</option>
          <option>Professionnel</option>
          <option>Demande de renseignement</option>
          <option>Autre</option>
        </datalist>
      </form>

      <form class="form-element form-input">
        <input class="form-element-field" [(ngModel)]="message.email" name="email" placeholder="Saisissez votre e-mail"
          type="email" required />
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="email">Email</label>
      </form>

      <form class="form-element form-input">
        <textarea class="form-element-field" [(ngModel)]="message.message" name="message" placeholder="Saisissez votre message" type="message" required></textarea>
        <div class="form-element-bar"></div>
        <label class="form-element-label" id="labelTextarea" for="message">Message</label>
        <button class="btn btn-success" (click)="send()" type="submit">Envoyer</button>
      </form>
      <div *ngIf="sent" class="text-center">Votre message a bien été envoyé.</div>
    </form>
  </div>
</div>

<app-footer></app-footer>
