@media screen and (min-width: 601px) {
  .container-fluid {
    height: 100vh;
    width: 100vw;
    background: url('../../assets/images/FondPageContact.jpg') no-repeat center fixed;
    /* pour anciens Chrome et Safari */
    -webkit-background-size: cover;
    background-size: cover;
  }
}

h1{
  color: #00004d;
  padding-top: 140px;
  padding-left: 40%;
  padding-bottom: 5%;
  text-align: center;
}


.form-element {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  padding-left: 40%;
  padding-bottom: 3%;
}

.form-element-hint {
  font-weight: 400;
  font-size: 0.6875rem;
  color: #00004d;
  display: block;
}

.form-element-bar {
  position: relative;
  height: 1px;
  width: 40%;
  margin-left: 30%;
  background: #00004d;
  display: block;
}

.form-element-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00004d;
  height: 2px;
  display: block;
  transform: rotateY(90deg);
  transition: transform 0.28s ease;
  will-change: transform;
}

.form-element-label {
  position: absolute;
  top: 0.75rem;
  left: 58%;
  line-height: 1.5rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #00004d;
  transform: translateY(-50%);
  transform-origin: left center;
  transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
  will-change: transform, color, opacity;
}

.form-element-field {
  outline: none;
  margin-left: 30%;
  color: #00004d;
  height: 1.5rem;
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border: 0 solid transparent;
  line-height: 1.5;
  width: 40%;
  box-shadow: none;
  opacity: 0.001;
  transition: opacity 0.28s ease;
  will-change: opacity;
}

.form-element-field:-ms-input-placeholder {
  color: #00004d;
  transform: scale(0.9);
  transform-origin: left top;
}

.form-element-field::placeholder {
  color: #00004d;
  transform: scale(0.9);
  transform-origin: left top;
}

.form-element-field:focus ~ .form-element-bar::after {
  transform: rotateY(0deg);
}

.form-element-field:focus ~ .form-element-label {
  color: #00004d;
}

.form-element-field.-hasvalue,
.form-element-field:focus {
  opacity: 1;
}

.form-element-field.-hasvalue ~ .form-element-label,
.form-element-field:focus ~ .form-element-label {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  cursor: pointer;
  pointer-events: auto;
}

.form-has-error .form-element-label.form-element-label,
.form-has-error .form-element-hint {
  color: #00004d;
}

.form-has-error .form-element-bar,
.form-has-error .form-element-bar::after {
  background: #00004d;
}

.form-is-success .form-element-label.form-element-label,
.form-is-success .form-element-hint {
  color: #00004d;
}

.form-is-success .form-element-bar::after {
  background: #00004d;
}

input.form-element-field:not(:placeholder-shown),
textarea.form-element-field:not(:placeholder-shown) {
  opacity: 1;
}

input.form-element-field:not(:placeholder-shown) ~ .form-element-label,
textarea.form-element-field:not(:placeholder-shown) ~ .form-element-label {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  cursor: pointer;
  pointer-events: auto;
}

textarea.form-element-field {
  height: auto;
  min-height: 3rem;
}

select.form-element-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.form-select-placeholder {
  color: #00004d;
  display: none;
}

.form-select .form-element-bar::before {
  content: "";
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  display: block;
  right: 0.5em;
  bottom: 0;
  transition: transform 0.28s ease;
  transform: translateY(-100%) rotateX(0deg) rotate(45deg);
  will-change: transform;
}

.form-select select:focus ~ .form-element-bar::before {
  transform: translateY(-50%) rotateX(180deg) rotate(45deg);
}

.form-element-field[type="number"] {
  -moz-appearance: textfield;
}

.form-element-field[type="number"]::-webkit-outer-spin-button,
.form-element-field[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn{
  margin-left: 50%;
  margin-top: 4%;

}

@media screen and (max-width: 900px) {

  h1{
    color: #00004d;
    padding-top: 20%;
    padding-left: 55%;
    padding-bottom: 5%;
  }

  .form-element-bar {
    position: relative;
    height: 1px;
    width: 60%;
    margin-left: 30%;
    background: #00004d;
    display: block;
  }

  .form-element-field {
    outline: none;
    margin-left: 30%;
    color: #00004d;
    height: 1.5rem;
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border: 0 solid transparent;
    line-height: 1.5;
    width: 60%;
    box-shadow: none;
    opacity: 0.001;
    transition: opacity 0.28s ease;
    will-change: opacity;
  }

}

@media screen and (max-width: 500px){
  h1{
    color: #00004d;
    padding-top: 50%;
    padding-left: 55%;
    padding-bottom: 5%;
  }

  .form-element-field {
    outline: none;
    margin-left: 30%;
    color: #00004d;
    height: 1.5rem;
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border: 0 solid transparent;
    line-height: 1.5;
    width: 60%;
    box-shadow: none;
    opacity: 0.001;
    transition: opacity 0.28s ease;
    will-change: opacity;
  }
}

/**************smartphones*******************/

@media screen and (max-width: 600px) {
  .container-fluid {
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
    background: url('../../assets/images/bg-contact-mobile.jpg') no-repeat center fixed;
    /* pour anciens Chrome et Safari */
    -webkit-background-size: cover;
    background-size: cover;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    padding-left: 0px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .form-element {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    text-align: center;
    margin-left: 0;
    margin-top: 10%;
  }

  .form-element-bar {
    margin-left: auto;
    margin-right: auto;
    width: 80%
  }

  .form-element-field {
    margin-left: auto;
    margin-right: auto;
    width: 80%
  }

  .form-element-label {
    left: 41%;
  }

  .btn {
    margin-left: 0;
    margin-top: 10%;
  }

  .wrapper {
    background-color: rgba(250, 250, 250, 0.5);
    width: 80%;
    margin: 0 auto;
    margin-top: 140px;
  }
}
