.card{
  top: 120px;
  width: 15%;
  background-color: transparent;
  border: none;
  position: relative;
  height: 140px;
}

.card-body {
  margin: 4%;
  background-color: #fff;
  box-shadow: 0 1px 15px 0 rgba(2, 2, 2, 2.2);
}

li{
  margin-left: 15%;
}

.fond{
  background-image: url('https://i.goopics.net/73KJG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed !important;
}

.btn-danger {
  position: absolute;
  bottom: 14px;
  right: 14px;
}
