<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->

  <a routerLink="/accueil" class="navbar-brand d-flex w-auto mr-auto">
    <img class="logo" src="https://i.goopics.net/xj12p.png">
    <span class="navbar-brand brand-text">SpotiFood</span>
  </a>

  <button class="navbar-toggler mr-4" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse w-100" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mx-auto justify-content-center">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/admin/produits">Produit<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/produits">Déconnexion</a>
      </li>
    </ul>

    <form class="form-inline justify-content-end">
      <input class="fas fa-search form-control" type="search" placeholder="Search" aria-label="Search">
      <i role="submit"class="fas fa-search"></i>
    </form>
  </div>
</nav>
