.container-fluid {
  padding: 0;
}

.main-content {
  margin-top: 100px;
}

.listProduits {
  transform: translateY(-600px);
}

@media screen and (min-width: 992px) {
  .listProduits {
    margin-left: 300px;
  }
}

.products {
  transform: translateY(-30px);
}
