
      <form>
          <input class="fas fa-search form-control awesomplete" list="mylist"  (keypress)="recherche()" [(ngModel)]="searchLeft" type="text" name="search" required placeholder="Search.." #search="ngModel">
          <datalist id="mylist">
            <option *ngFor="let product of products"></option>
          </datalist>
          <div *ngIf="search.invalid && (search.dirty || search.touched)"
          class="alert alert-danger">
          <div *ngIf="search.errors.required">
              Enter a valid product, please.
            </div>
            <div *ngIf="">
              Ce champ est incorrecte.
            </div>
          </div>
			</form>

		<div class="card">
		  <img class="card-img-top offset-2 mx-auto" src={{product.images}}>
		  <div class="card-body text-center">
					<h3 class="card-title">{{ product.name }}</h3>
					<p class="card-text"><strong>Quantité :</strong><br>{{ product.quantity }}</p>
					<p class="card-text"><strong>Marque :</strong><br>{{ product.brands }}</p>
					<p class="card-text"><strong>liens :</strong><br></p>
					<p class="card-text"><strong>Labels, certifications, récompenses:</strong><br> {{product.labels}} </p>
					<p class="card-text"><strong>Catégories :</strong><br> {{ product.categories }} </p>
					<p class="card-text"><strong>Conditionnement :</strong><br> {{product.packaging}} </p>
					<p class="card-text"><strong>Ingrédients :</strong><br> {{ product.ingredients }} </p>
          <p class="card-text"><strong>Allergènes : </strong><br> {{ product.allergens }} </p>
          <img class="nutris" src="../../assets/images/nutri-a.png"/>
          <p class="card-text"><strong>Repères nutritionnels pour 100g : </strong><br></p>
            <ul>
              <li>
                <p>Matières grasses / Lipides: {{product.nutrients.lipids}} </p>
              </li>
              <li>
                <p>Acides gras saturés: {{product.nutrients.saturated}} </p>
              </li>
              <li>
                <p>Sucres: {{product.nutrients.sugars}} </p>
              </li>
              <li>
                <p>sel: {{product.nutrients.salt}} </p>
              </li>
            </ul>
		    <p class="card-text"><small class="text-muted">Last updated 3 hour ago</small></p>
      </div>
    </div>



