h1{
    margin-top: 120px;
    margin-bottom: 5%;
    text-decoration: underline
}

.card{
    background-color: #e6ffcc;
}

img{
    width: 60%;
    margin-top: 7%;
}

input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-image: url('https://goopics.net/i/3WVnk');
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.9s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

p, h5{
    font-size: 100%;
}



