
			<form>
          <input class="fas fa-search form-control"  (keypress)="recherche()" [(ngModel)]="searchLeft" type="text" name="search" required placeholder="Search.." #search="ngModel">
          <div *ngIf="search.invalid && (search.dirty || search.touched)"
          class="alert alert-danger">
          <div *ngIf="search.errors.required">
              Champ is required.
            </div>
            <div *ngIf="">
              Ce champ est incorrecte.
            </div>
          </div>
			</form>

		<div class="card">
		  <img class="card-img-top offset-2" src="https://via.placeholder.com/300x400" alt="Card image cap">
		  <div class="card-body text-center">
					<h3 class="card-title">{{ product.product_name }}</h3>
					<p class="card-text"><strong>Quantité :</strong><br>{{ product.quantity }}</p>
					<p class="card-text"><strong>Marque :</strong><br>{{ product.brands }}</p>
					<p class="card-text"><strong>liens :</strong><br></p>
					<p class="card-text"><strong>Labels, certifications, récompenses:</strong><br> {{product.labels}} </p>
					<p class="card-text"><strong>Catégories :</strong><br> {{ product.categories }} </p>
					<p class="card-text"><strong>Conditionnement :</strong><br> {{product.packaging}} </p>
					<p class="card-text"><strong>Magasin :</strong><br> {{ product.stores }} </p>
					<p class="card-text"><strong>Ingrédients :</strong><br> {{ product.ingredients_text_fr }} </p>
          <p class="card-text"><strong>Allergènes : </strong><br> {{ product.allergens_fr }} </p>
          <img class="nutris" src="http://image.noelshack.com/fichiers/2018/41/3/1539184142-nutriscore-a.png"/>
          <p class="card-text"><strong>Repères nutritionnels pour 100g : </strong><br></p>
            <ul>
              <li>
                <p>Matières grasses / Lipides: {{product.nutriments.fat_100g}} </p>
              </li>
              <li>
                <p>Acides gras saturés: {{product.nutriments['saturated-fat_100g']}} </p>
              </li>
              <li>
                <p>Sucres: {{product.nutriments.sugars_100g}} </p>
              </li>
              <li>
                <p>sel: {{product.nutriments.salt_100g}} </p>
              </li>
            </ul>
		    <p class="card-text"><small class="text-muted">Last updated 3 hour ago</small></p>
      </div>
    </div>



