h3 {
  min-height: 3.25rem;
}

.card{
  border: none;
  transition: 0.3s;
  margin-bottom: 20%;
  box-shadow: 0 1px 15px 0 rgba(2, 2, 2, 2.2);
}

.card-margin {
  margin-top: 69px;
}

.card-img-top {
  height: 190px;
  width: auto;
}

.card:hover {
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.2);
}


img{
  max-height: 170px;
  max-width: 85%;
  width: auto;
  height: auto;
}

p {
    font-size: 100%;
}

.allergens {
  margin-bottom: 0;
}

ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
  }

  .nutris{
    width: 30%;
  }


/**
*for very small screens
*/
@media screen and (max-width: 500px) {
  .container {
    padding: 0;
    margin: 0;
  }
  strong, p {
    font-size: 0.9rem;
  }

  .card-body {
    padding: 0.2rem;
  }
}
