.produit {
  margin-top: 7%;
  justify-content: center;
}

.ajouter {
  margin-top: 5%;
}

@media only screen and (max-width: 767px) {
  .center{
    display: block;
     max-width: 200px;
     max-height: 200px;
  }
}

img {
  height: 190px;
  width: 150px;
  padding-top: 25px;
  padding-left: 20px;
}

.trash{
  width: 55px;
  height: 60px;
}

.card {
  min-width: 150px;
  max-width: 220px;
}

