.produit {
  margin-top: 7%;
  justify-content: center;
  position: relative;
}

.ajouter {
  margin-top: 125px;
}

@media only screen and (max-width: 767px) {
  .center {
    display: block;
    max-width: 200px;
    max-height: 200px;
  }
}

.card-img-top {
  max-height: 170px;
  max-width: 85%;
  width: auto;
  height: auto;
}

.product-images {
  height: 180px;
}

.icons {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  height: 45px;
}

.pen,
.trash {
  width: 20%;
  height: auto;
  cursor: pointer;
}

.card {
  min-width: 220px;
  max-width: 220px;
  height: 360px;
}

/**
if admin is not logged
*/

.ifNotLogged {
  margin-top: 140px;
}
