<nav class="sidebar bg-light  d-none d-lg-block pl-2" id="nav1" >
	<a class="navbar-brand" href="index.html">Filtrer</a>
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button> -->
	<div class="" id="navbarNavAltMarkup">
		<div class="navbar-nav">

			<div class="row">
				<div class="col">
					<div ngbDropdown class="d-inline-block my-3">
						<select class="form-element-field">
							
							<option class="dropdown-item" value="">Catégorie</option>
							<option class="dropdown-item" value="Légume">Légume</option>
							<option class="dropdown-item" value="Fruit">Fruit</option>
							<option class="dropdown-item" value="Produit laitier">Produit laitier</option>
							<option class="dropdown-item" value="Boisson">Boisson</option>
							<option class="dropdown-item" value="Viande">Viande</option>
							<option class="dropdown-item" value="Conserve">Conserve</option>
							<option class="dropdown-item" value="Poisson">Poisson</option>
							<option class="dropdown-item" value="Sans Gluten">Sans Gluten</option>
						</select>
					</div>



					<div ngbDropdown class="d-inline-block my-3">
						<select class="form-element-field">
							
							<option class="dropdown-item" value="">Marque</option>
							<option class="dropdown-item" value="Panzani">Panzani</option>
							<option class="dropdown-item" value="Ferrero">Ferrero</option>
							<option class="dropdown-item" value="Barilla">Barilla</option>						
						</select>

					</div>




					<div ngbDropdown class="d-inline-block my-3">
						<select class="form-element-field">

							<option class="dropdown-item" value="">Conditionnement</option>
							<option class="dropdown-item" value="Conserve">Conserve</option>
							<option class="dropdown-item" value="Sous vide">Sous vide</option>
							<option class="dropdown-item" value="Bouteille">Bouteille</option>
							<option class="dropdown-item" value="Verre">Verre</option>
							<option class="dropdown-item" value="Plastique">Plastique</option>
							<option class="dropdown-item" value="Carton">Carton</option>
							<option class="dropdown-item" value="Papier alimentaire">Papier alimentaire</option>
							<option class="dropdown-item" value="Vrac">Vrac</option>
						</select>
					</div>



					<div ngbDropdown class="d-inline-block my-3">
						<select class="form-element-field">
							
							<option class="dropdown-item" value="">Allergènes</option>
							<option class="dropdown-item" value="Gluten">Gluten</option>
							<option class="dropdown-item" value="Lactose">Lactose</option>
							<option class="dropdown-item" value="Sulfites">Sulfites</option>
							<option class="dropdown-item" value="Soja">Soja</option>
							<option class="dropdown-item" value="Arachide">Arachide</option>
						</select>


					</div>
				</div>
			</div>
		</div>


		<form class="my-5 m-2">
			<fieldset>
				<legend>Nutri-Score</legend>

				<div class="m-2">
					<label class="containerRadio">
						<input type="radio" name="drone" value="A" />
						<span class="checkmark"></span>
						A &nbsp;
					</label>

					<label class="containerRadio">
						<input type="radio" name="drone" value="B" />
						<span class="checkmark"></span>
						B &nbsp;
					</label>
					<label class="containerRadio">
						<input type="radio" name="drone" value="C" />
						<span class="checkmark"></span>
						C &nbsp;
					</label>
					<label class="containerRadio">
						<input type="radio" name="drone" value="D" />
						<span class="checkmark"></span>
						D &nbsp;
					</label>
					<label class="containerRadio">
						<input type="radio" name="drone" value="E" />
						<span class="checkmark"></span>
						E &nbsp;
					</label>
				</div>
			</fieldset>
		</form>

		<button class="mx-4 btn btn-success text-white" (click)= "valider()">Valider</button>
		
	</div>
</nav>








<nav class="sidebar bg-light pl-2 d-lg-none hidden" id="nav1" [ngClass]="{'trans': filterDisplayed}">

	<a class="navbar-brand" href="index.html" >Filtrer</a>
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button> -->
	<div class="" id="navbarNavAltMarkup">
		<div class="navbar-nav">

			<div class="row">
				<div class="col my-2">
					<div ngbDropdown class="d-inline-block">
						<select class="form-element-field">
							
							<option class="dropdown-item" value="">Catégorie</option>
							<option class="dropdown-item" value="Légume">Légume</option>
							<option class="dropdown-item" value="Fruit">Fruit</option>
							<option class="dropdown-item" value="Produit laitier">Produit laitier</option>
							<option class="dropdown-item" value="Boisson">Boisson</option>
							<option class="dropdown-item" value="Viande">Viande</option>
							<option class="dropdown-item" value="Conserve">Conserve</option>
							<option class="dropdown-item" value="Poisson">Poisson</option>
							<option class="dropdown-item" value="Sans Gluten">Sans Gluten</option>
						</select>
					</div>
					

					
					<div ngbDropdown class="d-inline-block">
						<select class="form-element-field">
							
							<option class="dropdown-item" value="">Marque</option>
							<option class="dropdown-item" value="Panzani">Panzani</option>
							<option class="dropdown-item" value="Ferrero">Ferrero</option>
							<option class="dropdown-item" value="Barilla">Barilla</option>						
						</select>
					</div>
					


					
					<div ngbDropdown class="d-inline-block">
						<select class="form-element-field">

							<option class="dropdown-item" value="">Conditionnement</option>
							<option class="dropdown-item" value="Conserve">Conserve</option>
							<option class="dropdown-item" value="Sous vide">Sous vide</option>
							<option class="dropdown-item" value="Bouteille">Bouteille</option>
							<option class="dropdown-item" value="Verre">Verre</option>
							<option class="dropdown-item" value="Plastique">Plastique</option>
							<option class="dropdown-item" value="Carton">Carton</option>
							<option class="dropdown-item" value="Papier alimentaire">Papier alimentaire</option>
							<option class="dropdown-item" value="Vrac">Vrac</option>
						</select>
					</div>
					

					
					<div ngbDropdown class="d-inline-block">
						<select class="form-element-field">							
							<option class="dropdown-item" value="">Allergènes</option>
							<option class="dropdown-item" value="Gluten">Gluten</option>
							<option class="dropdown-item" value="Lactose">Lactose</option>
							<option class="dropdown-item" value="Sulfites">Sulfites</option>
							<option class="dropdown-item" value="Soja">Soja</option>
							<option class="dropdown-item" value="Arachide">Arachide</option>
						</select>
					</div>




					<form class="my-5 m-2">
						<fieldset>
							<legend>Nutri-Score</legend>

							<div class="m-2">
								<label class="containerRadio">
									<input type="radio" name="drone" value="A" />
									<span class="checkmark"></span>
									A &nbsp;
								</label>

								<label class="containerRadio">
									<input type="radio" name="drone" value="B" />
									<span class="checkmark"></span>
									B &nbsp;
								</label>
								<label class="containerRadio">
									<input type="radio" name="drone" value="C" />
									<span class="checkmark"></span>
									C &nbsp;
								</label>
								<label class="containerRadio">
									<input type="radio" name="drone" value="D" />
									<span class="checkmark"></span>
									D &nbsp;
								</label>
								<label class="containerRadio">
									<input type="radio" name="drone" value="E" />
									<span class="checkmark"></span>
									E &nbsp;
								</label>
							</div>
						</fieldset>
					</form>
				</div>
			</div>

			<button class="mx-4 btn btn-success text-white" (click)= "valider()">Valider</button>

		</div>
	</div>
</nav>
<button class="btn btn-success text-white" (click)="showFilter()" id="boutonfiltre" class="d-lg-none btnStartPos" [ngClass]="{'transBtn': filterDisplayed}">⟩ Filtre</button>








