<app-navbar></app-navbar>

<div class='container-fluid'>
  <h1 class="text-white">Bienvenue sur votre messagerie !</h1>

  <div class="row col-12">
    <div class="card col-9 offset-2" 
    *ngFor="let message of message">
    <div class="card-header">
      Nouveau message {{ message.name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ message.objet }}{{message.Name}}</h5>
      <p class="card-text">{{ message.message }}{{message.quantity}}</p>
      <p class="card-text">{{message.brands}}</p>
      <p class="card-text">{{message.labels}}</p>
      <p class="card-text">{{message.categories}}</p>
      <p class="card-text">{{message.packaging}}</p>
      <p class="card-text">{{message.ingredients}}</p>
      <p class="card-text">{{message.allergenes}}</p>
      <p class="card-text">{{message.nutriscore}}</p>
      <p class="card-text">{{message.nutrients.lipids}}</p>
      <p class="card-text">{{message.nutrients.saturated}}</p>
      <p class="card-text">{{message.nutrients.sugars}}</p>
      <p class="card-text">{{message.nutrients.salt}}</p>
      <p class="card-text">{{message.images}}</p>

      <div class="card-footer text-muted">
        {{ message.email }}
      </div>
      <img class="trash" (click)="delete(message)" src="../../assets/images/trash.png" role="button">
    </div>
  </div>
</div>