<app-navbar></app-navbar>
<form class="form-card" #f="ngForm">
	<fieldset class="form-fieldset">
		<legend class="form-legend">Suggérer un produit</legend>

		<div class="form-element form-input form-group">
			<input name="name" #name="ngModel" id="field-name" class="form-element-field" [(ngModel)]="product.name"
			placeholder="Saisissez le nom du produit" type="input" required minlength="5" />
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-name">Nom</label>
			<small class="form-element-hint">(champ obligatoire)</small>
			<small class="form-element-hint text-danger" *ngIf="name.touched && name.invalid"> Ce champ est obligatoire et doit contenir au minimum 5 caractères</small>

		</div>

		<div class="form-element form-input">
			<input name="quantity" #quantity="ngModel" id="field-quantity" class="form-element-field" [(ngModel)]="product.quantity"
			placeholder="Saisissez un chiffre et une unité" type="text" required />
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-quantity">Quantité (+ unité)</label>
			<small class="form-element-hint">(champ obligatoire)</small>
			<small class="form-element-hint text-danger" *ngIf="quantity.touched && quantity.invalid"> Ce champ est
			obligatoire</small>
		</div>

		<div class="form-element form-input">
			<input name="brand" #brand="ngModel" id="field-brand" class="form-element-field" [(ngModel)]="product.brands"
			placeholder="Précisez la marque" type="text" required awesomplete list="listBrand"/>
			<datalist id="listBrand">
				<option *ngFor="let product of products">{{product.brands}}</option>
			</datalist>
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-brand">Marque</label>
			<small class="form-element-hint">(champ obligatoire)</small>
			<small class="form-element-hint text-danger" *ngIf="brand.touched && brand.invalid"> Ce champ est obligatoire</small>
		</div>

		<div class="form-element form-input">
			<input name="labels" #labels="ngModel" id="field-labels" class="form-element-field" [(ngModel)]="product.labels"
			placeholder="Séparez plusieurs valeurs par des virgules" type="text" required awesomplete list="listLabels"/>
			<datalist id="listLabels">
				<option *ngFor="let product of products">{{product.labels}}</option>
			</datalist>
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-labels">Labels, certifications, récompenses</label>
			<small class="form-element-hint">(champ obligatoire&nbsp;; séparez plusieurs valeurs par des virgules)</small>
			<small class="form-element-hint text-danger" *ngIf="brand.touched && brand.invalid"> Ce champ est obligatoire</small>
		</div>

		<div class="form-element form-input">
			<input name="categories" #categories="ngModel" id="field-categories" class="form-element-field" [(ngModel)]="product.categories" placeholder="Indiquez la/les catégories du produit" type="text" required awesomplete list="listCateg"/>
			<datalist id="listCateg">
				<option *ngFor="let product of products">{{product.categories}}</option>
			</datalist>
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-categories">Catégories</label>
			<small class="form-element-hint">(champ obligatoire - séparez plusieurs valeurs
			par des virgules)</small>
			<small class="form-element-hint text-danger" *ngIf="categories.touched && categories.invalid"> Ce champ est
			obligatoire</small>
		</div>

		<div class="form-element form-input">
			<input name="packaging" #packaging="ngModel" id="field-packaging" class="form-element-field" [(ngModel)]="product.packaging" placeholder="ex: carton, bouteille en plastique, etc." type="text" required awesomplete list="listPack"/>
			<datalist id="listPack">
				<option *ngFor="let product of products">{{product.packaging}}</option>
			</datalist>
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-packaging">Conditionnement</label>
			<small class="form-element-hint">(champ obligatoire - séparez plusieurs valeurs par
			des virgules)</small>
			<small class="form-element-hint text-danger" *ngIf="packaging.touched && packaging.invalid"> Ce champ est
			obligatoire</small>
		</div>

		<div class="form-element form-input">
			<input name="ingredients" #ingredients="ngModel" id="field-ingredients" class="form-element-field" [(ngModel)]="product.ingredients"
			placeholder="Listez les ingrédients" type="text" required />
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-ingredients">Ingrédients</label>
			<small class="form-element-hint">(champ obligatoire - séparez plusieurs valeurs
			par des virgules)</small>
			<small class="form-element-hint text-danger" *ngIf="ingredients.touched && ingredients.invalid"> Ce champ est
			obligatoire</small>
		</div>

		<div class="form-element form-input">
			<input name="allergens" #allergens="ngModel" id="field-allergens" class="form-element-field" [(ngModel)]="product.allergens" placeholder="Listez les allergènes présents" type="text" required />
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-allergens">Allergènes</label>
		</div>
		<!-- buttons to choose nutriscore -->
		<div class="form-radio form-radio-block">
			<div class="form-sublegend">NutriScore</div>
			<div class="pt-3 d-flex flex-wrap">
				<label class="form-radio-label"> <input name="nutriscore" name="nutriscore" class="form-radio-field"
					[(ngModel)]="product.nutriscore" type="radio" value="A" /> <i class="form-radio-button"></i> <span>A</span>
				</label>
				<label class="form-radio-label"> <input name="nutriscore" class="form-radio-field" [(ngModel)]="product.nutriscore"
					type="radio" value="B" /> <i class="form-radio-button"></i> <span>B</span>
				</label>
				<label class="form-radio-label"> <input name="nutriscore" class="form-radio-field" [(ngModel)]="product.nutriscore"
					type="radio" value="C" /> <i class="form-radio-button"></i> <span>C</span>
				</label>
				<label class="form-radio-label"> <input name="nutriscore" class="form-radio-field" [(ngModel)]="product.nutriscore"
					type="radio" value="D" /> <i class="form-radio-button"></i> <span>D</span>
				</label>
				<label class="form-radio-label"> <input name="nutriscore" class="form-radio-field" [(ngModel)]="product.nutriscore"
					type="radio" value="E" /> <i class="form-radio-button"></i> <span>E</span>
				</label>
			</div>
		</div>

		<!-- Nutritional values -->
		<div class="form-radio form-radio-block">
			<div class="form-sublegend">Repères nutritionnels pour 100g</div>

			<div class="form-element form-input">
				<input name="lipids" #lipids="ngModel" id="field-lipids" class="form-element-field" [(ngModel)]="product.nutrients.lipids"
				placeholder="Valeur en g" type="number" required />
				<div class="form-element-bar"></div>
				<label class="form-element-label" for="field-lipids">Matières grasses / Lipides</label>
				<small class="form-element-hint">(champ obligatoire)</small>
				<small class="form-element-hint text-danger" *ngIf="lipids.touched && lipids.invalid"> Ce champ est
				obligatoire et ne doit contenir que des chiffres</small>
			</div>

			<div class="form-element form-input">
				<input name="saturated" #saturated="ngModel" id="field-saturated" class="form-element-field" [(ngModel)]="product.nutrients.saturated"
				placeholder="Valeur en g" type="number" required />
				<div class="form-element-bar"></div>
				<label class="form-element-label" for="field-saturated">Acides gras saturés</label>
				<small class="form-element-hint" >(champ obligatoire)</small>
				<small class="form-element-hint text-danger" *ngIf="saturated.touched && saturated.invalid"> Ce champ est
				obligatoire et ne doit contenir que des chiffres</small>
			</div>

			<div class="form-element form-input">
				<input name="sugars" #sugars="ngModel" id="field-sugars" class="form-element-field" [(ngModel)]="product.nutrients.sugars"
				placeholder="Valeur en g" type="number" required />
				<div class="form-element-bar"></div>
				<label class="form-element-label" for="field-sugars">Sucres</label>
				<small class="form-element-hint">(champ obligatoire)</small>
				<small class="form-element-hint text-danger" *ngIf="sugars.touched && sugars.invalid"> Ce champ est
				obligatoire et ne doit contenir que des chiffres</small>
			</div>

			<div class="form-element form-input">
				<input name="salt" #salt="ngModel" id="field-salt" class="form-element-field" [(ngModel)]="product.nutrients.salt"
				placeholder="Valeur en g" type="number" required />
				<div class="form-element-bar"></div>
				<label class="form-element-label" for="field-salt">Sel</label>
				<small class="form-element-hint" >(champ obligatoire)</small>
				<small class="form-element-hint text-danger" *ngIf="salt.touched && salt.invalid"> Ce champ est obligatoire
				et ne doit contenir que des chiffres</small>
			</div>
		</div>

		<!-- uploading pictures -->
		<div class="form-element form-input">
			<input name="pic" #image="ngModel" id="field-image" class="form-element-field" [(ngModel)]="product.images" pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|jpeg|png)" placeholder="Url vers une image au format jpg ou png" type="text" />
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-image">Url vers l'image</label>
			<small class="form-element-hint text-danger" *ngIf="image.invalid">L'image doit être au format PNG ou JPG</small>
		</div>
		<img *ngIf="product.images" src="{{product.images}}" alt="pic of the product"/>

	</fieldset>

	<div class="form-actions">
		<button class="btn btn-outline-danger rounded-0"  routerLink="/admin/produits" type="reset">Annuler</button>

		<button class="btn btn-success rounded-0" (click)="open(content)" type="submit"  title="Complétez les champs obligatoires avant de confirmer l'ajout" (click)="send()">Confirmer</button>

	</div>
</form>

<ng-template #content let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Suggestion produit</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" routerLink="/produits">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<p>Votre proposition a été transmise.</p>
				<div class="input-group">
					<div class="input-group-append">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" routerLink="/produits">Ok</button>
		<button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Suggérer un nouveau produit</button>
	</div>

</ng-template>

<hr>

<app-footer></app-footer>

