.navbar-brand {
  margin-left: 30px;
  font-size: 1.5rem;
}
/*
<---smaller font-size so that the logo image doesn't shrink
*/
@media screen and (max-width: 400px) {
  .navbar-brand {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .navbar-toggler {
    margin-left: auto;
    margin-right: auto !important;
  }
}
/* 
---> */

.logo {
  max-height: 50px;
}

.brand-text {
  font-family: 'Cookie',
  cursive;
  font-size: 2.2rem;
  color: #fff;
}

input{
  border-radius: 20px;
}

nav {
  /* background-color: #c5c3c3; */
  height: 100px;
  background-color: #0e0d0d99;
   /* #8080804d; */
}

@media screen and (min-width: 1200px) {
  .navbar-nav {
    width: 700px;
  }
}

nav li a {
  padding: 15px 30px;
}

nav li a:hover {
  transform: scale(1.2);
  background-color: grey;
}

/**
<--- Search form
*/
.form-inline {
  position: relative;
}

i {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

input {
  font-family: inherit;
  font-weight: 400;
  font-weight: normal;
  margin-right: 3%;
  padding-right: 25px;
}

@media screen and (min-width: 1400px) {
  input.fa-search {
    width: 400px;
  }
}

@media screen and (max-width: 1400px) {
  input.fa-search {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  input.fa-search {
    width: 221px;
  }
}

/* 
---> */

/**
<--- navbar collapse
*/
@media screen and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    background-color: #0e0d0d99;
    padding-bottom: 20px;
  }

  nav li a:hover {
    transform: scale(1.2);
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .form-inline .form-control {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  i {
    right: 160px !important;
  }
}
/* 
---> */

/*
<--- when menu is not collapsed
*/
@media screen and (min-width: 991px) {
  nav li {
    border-right: 1px solid #0000004d;
  }

  nav li:first-of-type {
    border-left: 1px solid #0000004d;
  }

  nav li a {
    border-left: 1px solid gray;
  }

  nav li a:last-of-type {
    border-right: 1px solid gray;
  }

  nav {
    box-shadow: 0px 10px 3px 1px rgba(20, 20, 24, 0.2);
  }
}
/* 
---> */