<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->

  <a href="#" class="navbar-brand d-flex w-50 mr-auto">
    <img src="https://i.goopics.net/xj12p.png">
    <span class="navbar-brand">SpotiFood</span>
</a>

  <button class="navbar-toggler mr-4" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse w-100" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto w-50 justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/produits">Produits<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Comparateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contribuer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline justify-content-end">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success m-2" type="submit">Search</button>
    </form>
  </div>
</nav>
